BasedOnStyle: LLVM
ColumnLimit: 74 # 4 for git diff
AlwaysBreakTemplateDeclarations: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false # Clang-format 14: consider PackConstructorInitializers: CurrentLine
BinPackParameters: false
SeparateDefinitionBlocks: Always # Clang-format 14
AlignAfterOpenBracket: BlockIndent
AlwaysBreakTemplateDeclarations: Yes
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
PointerAlignment: Middle
ReferenceAlignment: Left
Cpp11BracedListStyle: true
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignOperands: AlignAfterOperator
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: Inline
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex:           '^(<|")(llvm|llvm-c|clang|clang-c)/'
    Priority:        2
    SortPriority:    2
    CaseSensitive:   true
  - Regex:           '^<[[:alnum:]._]+>$'
    Priority:        3
    SortPriority:    3
  - Regex:           '^(<|")w2n/'
    Priority:        4
    SortPriority:    4
    CaseSensitive:   true
  - Regex:           '.*'
    Priority:        1
    SortPriority:    0
StatementMacros:
  - W2N_CONSTRUCTOR
  - W2N_NOINLINE
  - W2N_INLINE
  - W2N_NORETURN
  - W2N_UNUSED
  - W2N_CONSTEXPR
